.headerNavigation {
  width: 600px;

  .ul {
    display: flex;
    justify-content: space-between;
  }

  .li {
    position: relative;
    transition: color 0.3s ease;
    height: 81px;
    display: flex;
    align-items: center;
  }

  .li:hover {
    color: #37c174;
    cursor: pointer;
  }

  .li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 21px; /* Отступ линии от текста */
    width: 0;
    height: 3px; /* Толщина линии */
    background-color: rgb(62, 175, 126);
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

  .li:hover::after {
    width: 100%;
  }
}

.dropdownMenu {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 81px;
  background-color: white;
  border-radius: 0 0 5px 5px;
  color: black;
  padding: 28px;
  padding-left: 56px;
}
