.headerNavigation {
  width: 600px;

  .headerUl {
    display: flex;
    justify-content: space-between;
  }

  .headerLi {
    position: relative;
    transition: color 0.3s ease;
    height: 81px;
    display: flex;
    align-items: center;

    .dropdownMenu {
      width: max-content;
      max-height: 0;
      position: absolute;
      top: 100%;
      background-color: white;
      border-radius: 0 0 5px 5px;
      color: black;
      font-size: 14px;
      line-height: 40px;
      opacity: 0;
      transition:
        max-height 0.9s ease,
        opacity 0.2s ease;
      overflow: hidden;
      z-index: 10;
      visibility: hidden;

      ul {
        height: 100%;
        width: 100%;
        padding: 28px 28px 28px 84px;

        li {
          transition: color 0.3s ease;

          &:hover {
            color: #37c174;
            cursor: pointer;
          }
        }
      }
    }

    &:hover {
      color: #37c174;
      cursor: pointer;

      .dropdownMenu {
        max-height: 300px;
        opacity: 1;
        visibility: visible;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 21px;
      width: 0;
      height: 3px;
      background-color: rgb(62, 175, 126);
      transition: all 0.3s ease;
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 100%;
    }
  }
}
